@import "common/common";

.app {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.top-bar {
    display: block;
    background-color: $blackColor;
    color: $whiteColor;
    font-size: 12px;
    height: 35px;
}


