section {

    .panel-heading {
        display: inline-block;

        h3 {
            float: left;
            white-space: nowrap;
            font-size: 1.4em;
            margin: 0px;
            padding-right: 20px;
        }

        span {
            float: right;
            font-size: 1.6em;
        }
    }

    

}

