.collapsible-panel {
    section {

    .collapce-icon {
        float: right;
        font-size: 1.6em;
        cursor : pointer;
        margin-bottom: -3px;
        margin-right: 8px;
    }

    .panel-heading {
        display: inline-block;
        width: 100%;

        h3 {
            float: left;
            white-space: nowrap;
            font-size: 1.4em;
            margin: 10px 0px;
            padding-right: 20px;
            width: 80%;
        }
    }

    .panel-content {
        overflow-y: auto;
    }

}

}

