.product {
  float: left;
  text-align: center;
  width: 33%;
  padding-bottom: 20px;
  img {
    margin: 20px auto 10px auto;
    width: 50%;
    height : 190px;
  }
}

/* tablet */
@media all and (max-width: 908px) {
    .product {
      width : 48%;
    }
}

/* mobile phone */
@media all and (max-width: 600px) {
    .product {
      width : 100%;
    }
}