.breadcrumb {
    display: inline-block;
    height: 50px;
    width: 200%;
    ul {
        padding-left: 0px;

        li {
            float: left;
            padding-left: 0px;
            list-style-type: none;

            span{
                cursor : pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            svg {
                font-size: 1.5em;
                margin: 2px 4px -4px 4px;
            }

            &:last-child {
                color: deeppink;
                svg {
                    fill-opacity : 0
                }
            }
        }
    }
    
}