.products-list {
  float: left;
  width: 78%;
  .pagination-section {
      float: right;
      margin: 15px 10% 15px 0;
      font-size: 1.5em;
    }


  .sort-options {
    float: right;
    margin: 15px 30px;
    font-size: 1.5em;
    select {
          height: 40px;
          margin: 0;
          padding: 0 12px;
          vertical-align: middle;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 3px;
    }
  }
}
